body {
	margin-left: 5%;
	margin-right: 5%; 
}

#name {
	margin: auto;
	color: #B0DEE9;
	text-align: center;
	padding-top: 3%;
	font-size: 3em;
}

#main-nav {
	position: relative;
	background: white;
}

.nav {
	margin: auto;
	text-align: center;
	padding: 2% 0 3% 0;
}

.nav li {
	display: inline;
	margin-right: 1em;
	list-style-type: none;
}

/* hide first link when no hambuger link present */
.nav li:nth-child(1) {
	display: none;
}

.nav a {
	text-decoration: none;
	color: black;
}

.nav a:hover {
	color: #FCFF92;
	text-decoration: underline;
}

@media screen and (max-width:558px) {
	.nav li {
		display: none;
	}

	.nav li:nth-child(1) {
		display: inline;
	}

	.nav li:nth-child(1) a:before {
		content: '\2630';
	}
}

/* add sticky class to navbar */
#main-nav.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #E0E0E0;
}

#main {
	width: 100%;
	height: 90%;
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/aa/2d/be/aa2dbed8fe8e3f7ac34ffa69cee2408d.jpg");
	background-size: cover;
}

.page {
	margin-top: 10%;
	margin-bottom: 5%;
}

.heading {
/*	color: #B0DEE9; */
	color: black;
}

#headshot {
	margin: 0;
}

#about-content {
}

#cloud-pic {
	width: 100%;
	height: 40%;
	background: url(assets/rainbow-in-the-clouds.png) fixed;
	background-size: cover;
	background-position: center;
}

#tabs {
	text-align: center;
}

#tabs li {
	display: inline;
	padding: 1em 1em;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-radius: 8px 8px 0 0;
	list-style-type: none;
}

.tab-content {
	height: 60%;
	width: 70%;
	margin: auto;
}

#first {
	background-color: #FCFF92
}

#second {
	background-color: #B0DEE9;
	display: none;
}

#third {
	background-color: #E0E0E0;
	display: none;
	background: url(assets/img_1004.jpg) no-repeat;
	background-size: contain;
}

.theme {
	position: relative;
	z-index: -1;
	top: -3.75em;
}

.circle {
	display: inline-block;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

#circle1 {
	background-color: #B0DEE9;
}

#circle2 {
	background-color: #FCFF92;
}

#circle3 {
	background-color: #E0E0E0;
}

.content {
	height: 100%;
	width: 100%;
	background: url(assets/resource-page.jpg);
	background-size: cover;
	background-position: center;
	opacity: .7;
}