body {
	margin-left: 5%;
	margin-right: 5%; 
}

#header {
	width: 100%;
	height: 10%;
/*	background-color: #FCFF92;
*/}

#name {
	height: 100%;
	margin: 0;
	display: flex;
	float: left;
	align-items: center;
	color: #B0DEE9;
}

#nav {
	float: right;
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
}

#nav li {
	display: inline;
	margin-left: 1em;
	list-style-type: none;
}

#nav a {
	text-decoration: none;
	color: black;
}

#nav a:hover {
	color: #FCFF92;
	text-decoration: underline;
}

#main {
	width: 100%;
	height: 90%;
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/aa/2d/be/aa2dbed8fe8e3f7ac34ffa69cee2408d.jpg");
	background-size: cover;
}

.page {
	height: 100%;
	margin-top: 10%;
	margin-bottom: 5%;
}

.heading {
/*	color: #B0DEE9; */
	color: black;
	text-align: center;
}

#cloud-pic {
	width: 100%;
	height: 40%;
	background-image: url(assets/rainbow-in-the-clouds.jpg);
	background-size: cover;
	background-position: center;
}

#tabs {
	text-align: center;
}

#tabs li {
	display: inline;
	padding: 1em 2em;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-radius: 8px 8px 0px 0px;
	list-style-type: none;
}

.tab-content {
	height: 60%;
	width: 70%;
	margin: auto;
}

#first {
	background-color: #FCFF92
}

#second {
	background-color: #B0DEE9;
	display: none;
}

#third {
	background-color: #E0E0E0;
	display: none;
	background-image: url(assets/img_1004.jpg);
	background-size: contain;
}

.theme {
	position: relative;
	z-index: -1;
	text-align: center;
	top: -3.75em;
}

.circle {
	display: inline-block;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

#circle1 {
	background-color: #B0DEE9;
}

#circle2 {
	background-color: #FCFF92;
}

#circle3 {
	background-color: #E0E0E0;
}

.content {
	height: 100%;
	width: 100%;
	background-image: url(assets/resource-page.jpg);
	background-size: cover;
	background-position: center;
	opacity: .7;
}