body {
	margin-left: 5%;
	margin-right: 5%; 
}

#name {
	margin: auto;
	color: #B0DEE9;
	text-align: center;
	padding-top: 3%;
	font-size: 3em;
}

#main-nav {
	position: relative;
	background: white;
}

.nav {
	margin: auto;
	text-align: center;
	padding: 2% 0 2% 0;
}

.nav li {
	display: inline;
	margin-right: 1em;
	list-style-type: none;
}

/* hide first link when no hambuger link present */
.nav li:nth-child(1) {
	display: none;
}

.nav a {
	text-decoration: none;
	color: black;
}

.nav a:hover {
	color: #FCFF92;
	text-decoration: underline;
}

/* replace nav links with hamburger */
@media screen and (max-width:558px) {
	.nav li {
		display: none;
	}

	.nav li:nth-child(1) {
		display: inline;
	}

	.nav li:nth-child(1) a:before {
		content: '\2630';
	}
}

/* add sticky class to navbar */
#main-nav.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #E0E0E0;
}

#main {
	width: 100%;
	height: 100%;
	background: url("assets/office2.jpg") no-repeat;
	background-size: cover;
}

.page {
	margin-top: 5%;
	margin-bottom: 5%;
}

.heading {
/*	color: #B0DEE9; */
	color: black;
	font-size: 1.75em;
}

#headshot {
	margin: 0 10px 0 0;
	float: left;
}

#natalie {
	height: 150px;
}

#about-icons {
	float: right;
}

#about-icons img {
	height: 100px;
	display: block;
}

#cloud-pic {
	width: 100%;
	height: 40%;
	background: url(assets/rainbow-in-the-clouds.jpg) fixed;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cloud-pic p {
	text-align: center;
	font-size: 2em;
	color: white;
}

#mission-statement ul {

}

#tabs {
	text-align: center;
	padding: 0;
}

#tabs li {
	display: inline;
	padding: 1em 1em;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-radius: 8px 8px 0 0;
	list-style-type: none;
}

#tab1 {
	background-color: #B0DEE9;
}

#tab2 {
	background-color: #FCFF92;
}

#tab3 {
	background-color: #E0E0E0;
}

#tab4 {
	background-color: white;
}

.tab-content {
	width: 100%;
	margin: auto;
	overflow: auto;
}

.tab-content img {
	float: left;
	height: 300px;
	margin-right: 2em;
}

#first {
	background-color: #B0DEE9;
}

#second {
	background-color: #FCFF92;
	display: none;
}

#third {
	background-color: #E0E0E0;
	display: none;
}

#fourth {
	background-color: white;
	display: none;
}

#lola {
	height: 400px;
	width: 400px;
}

.theme {
	position: relative;
	z-index: -1;
	top: -3.75em;
}

.circle {
	display: inline-block;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

#circle1 {
	background-color: #B0DEE9;
}

#circle2 {
	background-color: #FCFF92;
}

#circle3 {
	background-color: #E0E0E0;
}

#resources .content {
	width: 70%;
	margin: auto;
}

#resources .content p {
	text-align: center;
	font-size: 1.5em;
}

#icon-links ul {
	text-align: center;
}

#icon-links ul li {
	display: inline;
	margin-right: 3em;
}

#icon-links ul li a {
	text-decoration: none;
	color: black;
}

#icon-links ul li a img {
	height: 100px;
}

#icon-links ul li a i {
	vertical-align: text-bottom;
}

#resource-logo {
	float: left;
	margin: 0 2em 0 0;
}

#resource-logo img {
	height: 150px;
}
